@import url("https://fonts.googleapis.com/css?family=Karla|Rubik:500|Pacifico");

.element-header {
  text-transform: uppercase;
  background-color: #222;
  color: #f1f1f1;
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  /* position: sticky;
  top: 0; */
}

:root {
  --font-heading: "Rubik", sans-serif;
  --font-default: "Karla", sans-serif;

  --color-almost-white: #e8eef4;
  --color-almost-white-rgb: 232, 238, 244;

  --color-primary-a: #63dbc1;
  --color-primary-b: #4952a3;
  --color-primary-c: #ff5b5e;

  --color-secondary-a: #53c1a9;
  --color-secondary-b: #28313b;
  --color-secondary-c: #97a4b1;
  --color-secondary-d: #319bf5;
  --color-secondary-e: #34495e;

  --main-text-color: var(--color-secondary-e);
  --heading-text-color: var(--color-secondary-b);
  --alternative-text-color: var(--color-almost-white);
  --error-color: var(--color-primary-c);

  --body-bg-color: #fff;
  --main-bg-color: var(--color-almost-white);
  --secondary-bg-color: var(--color-almost-white);
  --alternative-bg-color: var(--color-primary-b);

  --padder: 3%;
  --spacer: 20px;
  --spacer-large: 80px;
  --transition-time: 0.3s;

  --font-size-site-title: 2rem;
  --font-size-page-title: 2.5rem;
  --font-size-section-title: 1.8rem; /* 48px */
  --font-size-sub-title: 1.5rem;
  --font-size-heading-small: 1rem;
  --font-size-detail-copy: 0.875rem;

  --area-wide: 1200px;
  --area-narrow: 800px;
}

@media screen and (min-width: 800px) {
  :root {
    --font-size-site-title: 54px;
    --font-size-page-title: 80px;
    --font-size-section-title: 48px;
    --font-size-sub-title: 24px;
    --font-size-heading-small: 16px;
    --font-size-detail-copy: 14px;

    --padder: 2%;
  }
}

main {
  display: block; /* discuss */
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background: url(/resources/video/travel.jpg) no-repeat fixed 0 0 / cover var(--body-bg-color); */
  background-color: var(--body-bg-color);

  font-family: var(--font-default);
  line-height: 1.4;
  color: var(--main-text-color);
  font-size: 1.125rem;
  /* margin: 0 var(--padder); */
}



/* common elements */
img,
video {
  max-width: 100%;
  height: auto;
}





/******************************************************************************************
*HEADINGS AND TYPE
******************************************************************************************/

h1,
h2,
h3,
h4,
h5,
.page-title,
.section-title,
.subtitle,
.heading-small,
.button {
  font-family: var(--font-heading);
  color: var(--heading-text-color);
}

h1,
.page-title {
  font-size: var(--font-size-page-title);
  line-height: 1;
  letter-spacing: 0.6px;
}

h2,
.section-title {
  font-size: var(--font-size-section-title);
  line-height: 1.2;
  letter-spacing: 0.6px;
}

h3,
.subtitle {
  font-size: var(--font-size-sub-title);
}

h4,
.button,
.heading-small {
  font-size: var(--font-size-heading-small);
  text-transform: uppercase;
}

h5,
.detail-copy {
  font-size: var(--font-size-detail-copy);
  line-height: 1rem;
}

/* links */

a {
  color: var(--color-primary-c);
}

a:hover,
a:focus {
  color: var(--color-secondary-b);
}

a:visited {
  color: var(--color-secondary-b);
}



/******************************************************************************************
*LAYOUTS
******************************************************************************************/
.layout-full-width,
.layout-wide,
.layout-narrow  {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacer-large);
  padding: 0 var(--padder);
}

.layout-full-width {
  max-width: 2000px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.layout-wide {
  max-width: var(--area-wide);
}

.layout-narrow {
  max-width: var(--area-narrow);
}


/******************************************************************************************
*HEADER
******************************************************************************************/


header {
  padding-top: var(--padder);
  background-color: var(--alternative-bg-color);
}

header .layout-wide {
  overflow: hidden; /* float hack*/
  margin-bottom: 0;
}

.logo-wrapper {
  width: 20%;
  float: left;
}

.logo-wrapper a:hover img {
  animation: spin 0.5s linear;
}

.logo {
  max-width: 50px;
  width: 100%;
}

.site-title {
  font-family: var(--font-heading);
  font-size: var(--font-size-site-title);
  color: var(--alternative-text-color);
  color: #fff;
  font-weight: 700;
  width: 80%;
  float: right;
  text-align: right;
}



/******************************************************************************************
*NAVIGATION
******************************************************************************************/

.navigation {
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--alternative-bg-color);
}

.nav-prompt {
  padding: var(--padder) 0;
  width: 100%;
  background-color: var(--alternative-bg-color);
  color: var(--alternative-text-color);
  border-top: 1px solid #34495e;
}

@media screen and (min-width: 800px) {

  .navigation {
      padding: 20px 0;
  }
  .nav-prompt {
    display: none;
  }
}

.nav-inner {
  clear: both;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  margin-bottom: 0;
}

.nav-inner ul {
  padding: 0 var(--padder);
  padding: 0;
  margin: 0;
}

.nav-inner[aria-expanded="false"] {
  max-height: 0;
}

@media screen and (min-width: 800px) {
  .nav-inner[aria-expanded="false"] {
    max-height: 100vh;
  }
}

.nav-inner[aria-expanded="true"] {
  max-height: 100vh;
}

.nav-inner li {
  text-align: center;
  list-style: none;
}

.nav-inner a {
  color: var(--alternative-text-color);
  /* font-size: 1rem; */
  font-family: var(--font-heading);
  padding: 20px 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;

  border-bottom: 1px solid var(--color-secondary-c);

  transition: all var(--transition-time);
}

@media screen and (min-width: 800px) {
  .nav-inner a {
    border-bottom: 2px solid transparent;
    padding: 0;
  }
}

.nav-inner .active {
  border-bottom-color: currentColor;
  font-weight: 700;
}

.nav-inner a:hover,
.nav-inner a:focus {
  /* color: var(--color-secondary-e); */
  color: #fff;
  border-bottom-color: currentColor;
  /* transform: rotate(-15deg); */
  /* transform: scale(1.1); */
  /* text-decoration: underline; */
}

@media screen and (min-width: 800px) {
  .nav-inner ul {
    display: flex;
    justify-content: space-between;
  }
}



/******************************************************************************************
*FOOTER
******************************************************************************************/

footer {
  /* position: relative; */
}

.footer-subscribe {
  background-color: var(--secondary-bg-color);
  padding: var(--spacer-large) 0;
  text-align: center;
}

.footer-notices {
  background-color: var(--alternative-bg-color);
  padding: var(--spacer) 0;
}

.footer-notices .layout-wide {
  text-align: center;
  margin-bottom: 0;
}

.copyright {
  color: #fff;
}

/* social */
/*https://simpleicons.org*/
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-left: 10px;
}

.social-links img {
  width: 100%;
  height: 100%;
}

.social-link {
  max-width: 30px;
  display: block;
  /* filter: invert(25%); */
  transform: scale(0.8);
  transition: all var(--transition-time);
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
}
.social-link:hover {
  filter: unset;
  transform: scale(1);
}

@media screen and (min-width: 800px) {
  .footer-notices .layout-wide {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }

  .social-links {
    text-align: right;
  }
}


/* grids */

.content-area {
}

.content-area-grid {
}

.content-area-grid-narrow {
}

@media screen and (min-width: 800px) {
  .content-area-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }

  .content-area-grid-narrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;
  }
}

/* elements */
blockquote {
  font-family: var(--font-heading);

  color: var(--color-secondary-e);

  border-left: 3px solid var(--color-primary-a);
  padding-left: 2rem;
}

blockquote p {
  font-style: italic;
  font-size: 1.5rem;
}

blockquote cite {
  font-size: 1rem;
  font-style: normal;
}

/* Tables */
table {
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: left;
}

/* Form elements */

label {
  display: block;
  font-weight: 700;
}

/* https://css-tricks.com/styling-texty-inputs-only/ */

input:not([type="submit"]):not([type="file"]) {
  border: 1px solid var(--color-secondary-c);
  border-radius: 4px; /* could use a variable here*/
  background-color: #fff;
  padding: 10px;
  width: 480px;
  max-width: 100%;
  margin-bottom: var(--spacer);
}

button,
input[type="submit"] {
  cursor: pointer; /* talk about this */
  border: none; /* talk about this too */
}

button:hover {
}

.button {
  background-color: var(--color-primary-a);
  color: var(--heading-text-color);
  border-radius: 4rem;
  padding: 1rem;
  min-width: 208px;
}

.button:hover {
  background-color: var(--color-secondary-a);
}

/* mailchimp overrides*/
#mc_embed_signup input.mce_inline_error {
  border-color: var(--error-color) !important ;
}
#mc_embed_signup div.mce_inline_error {
  background-color: transparent !important;
  color: var(--error-color) !important;
}

.response {
}

/* background video */
.bg-video {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
  }
}

/* file lists */

.file-list {
  list-style: none;
}

.file-list a {
  background-size: 30px;
  display: block;
  padding-left: 40px;
  background-repeat: no-repeat;
}

a[href*="pdf"] {
  background-image: url(../icons/icon-pdf.svg);
}

a[href*="doc"] {
  background-image: url(../icons/icon-docx.svg);
}

a[href*="xls"] {
  background-image: url(../icons/icon-xlsx.svg);
}

/* this fucks with the gallery so get rid of it*/
/* a[href*="jpg"],
a[href*="png"],
a[href*="gif"] {
  background-image: url(../icons/icon-img.svg);
} */

/* hero */
.hero-module {
  position: relative;
}

.hero-module img {
  width: 100%;

}



@media screen and (min-width: 800px) {
  
  .hero-content {
    text-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    
    /* background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); */
    /* http://www.colorzilla.com/gradient-editor/ */
  }

  .hero-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 4rem 2rem 2rem 2rem;
  }

  .hero-content .heading-main,
  .hero-content p {
    color: #fff;

    text-shadow: 0px 1px 10px var(--color-secondary-b);

    /* https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/ */
  }
}

/* iframe */

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 35px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* image gallery */

/* .image-gallery {
  margin: 0;
  padding: var(--padder);
  background: var(--color-almost-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.image-gallery ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-between;
  padding: 0;
} */

.image-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

 
}

.image-gallery ul li {

}

.image-gallery a img {
  filter: grayscale(70%);
  transition: filter var(--transition-time), transform var(--transition-time);
  box-shadow: 0px 1px 10px var(--color-secondary-b);
}

.image-gallery a:hover img {
  transform: scale(1.05);
  filter: unset;
}

@supports (display: grid) {


}


/* animations */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

main {
  /* animation: fadein 0.5s 1;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0); */
  /* position: relative; */
}